name: GTFOBins API CI

on:
  schedule:
    - cron: '0 0 * * 0' # At 00:00 on Sunday.
  push:
    branches:
      - main 

jobs:
  update-gtfobins-api:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r scripts/requirements.txt

      - name: Clone GTFOBins repository
        run: |
          git clone https://github.com/GTFOBins/GTFOBins.github.io.git

      - name: Run build_api.py
        run: |
          python scripts/build_api.py

      - name: Check for changes
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add api.json functions.json
          git diff --cached --quiet || git commit -m "Automatically updating the local GTFOBins data via a Github workflow."

      - name: Push changes
        if: success()
        run: |
          git push